.bg-normal-type {
  background-color: #D5D1AA;
}

.bg-fighting-type{
  background-color: #BF9780;
}

.bg-flying-type{
  background-color: #C3EEFA;
}

.bg-poison-type{
  background-color: #F3CEFF;
}

.bg-ground-type{
  background-color: #69503C;
}

.bg-rock-type{
  background-color: #A3A8B7;
}

.bg-bug-type{
  background-color: #6BC76B;
}

.bg-ghost-type{
  background-color: #AFBBC2;
}

.bg-steel-type{
  background-color: #9EB0C8;
}


.bg-fire-type{
  background-color: #FD8585;
}

.bg-water-type{
  background-color: #90D1FE;
}

.bg-grass-type{
  background-color: #61E0C9;
}

.bg-electric-type{
  background-color: #FFE581;
}

.bg-psychic-type{
  background-color: #F4DD94;
}


.bg-ice-type{
  background-color: #BAF2EF;
}


.bg-dragon-type{
  background-color: #fae5a8;
}

.bg-dark-type{
  background-color: #414C66;
}

.bg-fairy-type{
  background-color: #FDBFCC;
}

.bg-stellar-type{
  background-color: #8D70B3;
}


.bg-unknown-type{
  background-color: #B0BEC5;
}
