@defer (when moves()) {
  <div class=" w-full flex flex-col gap-2 divide-y divide-gray-200">
    <div class="flex flex-row gap-3 items-center p-3">
      <p class="text-slate-900 text-xs font-semibold basis-2/5">Name</p>
      <p class="text-slate-900 text-xs font-semibold basis-1/5">Type</p>
      <p class="text-slate-900 text-xs font-semibold basis-1/5">Damage</p>
      <p class="text-slate-900 text-xs font-semibold basis-1/5 text-center">Accuracy</p>
    </div>
    @for (move of moves(); track $index) {
      <app-pokemon-move-card [move]="move"></app-pokemon-move-card>
    }
  </div>

}@placeholder {
  <p>Cargando Información...</p>
}
