@defer (when texts()) {
  <p class="text-slate-800 text-sm">{{texts()[0]['flavor_text']}}</p>
  <div class="flex flex-row justify-start gap-9 mt-3">
    <div class="flex flex-col gap-2">
      <h4 class="text-sm text-gray-500">Species</h4>
      <h4 class="text-sm text-gray-500">Height</h4>
      <h4 class="text-sm text-gray-500">Weight</h4>
      <h4 class="text-sm text-gray-500">Habilidades</h4>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-slate-700 text-sm">{{species()?.genus}}</p>
      <p class="text-slate-700 text-sm">{{heightCm()}} cm</p>
      <p class="text-slate-700 text-sm">{{weightKg()}} kg</p>
      <p class="text-slate-700 text-sm">{{abilitiesJoin() | titlecase }}</p>
    </div>
  </div>
  <h3 class="mt-4 text-md text-slate-600 font-semibold">Breeding</h3>
  <div class="flex flex-row justify-start gap-9 mt-3">
    <div class="flex flex-col gap-2">
      <h4 class="text-sm text-gray-500">Gender</h4>
      <h4 class="text-sm text-gray-500">Egg Groups</h4>
      <h4 class="text-sm text-gray-500">Egg Cycle</h4>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-5">
        <p class="text-slate-700 text-sm">
          <i class="fa-solid fa-mars text-[#A3ACE9]"></i> {{male()}}%
        </p>
        <p class="text-slate-700 text-sm">
          <i class="fa-solid fa-transgender text-[#F5A9C5]"></i> {{female()}}%
        </p>
      </div>
      <p class="text-slate-700 text-sm">{{ eggGroups()?.name | titlecase }}</p>
      <p class="text-slate-700 text-sm">{{ eggCycle()?.name | titlecase }}</p>
    </div>
  </div>
}@placeholder {
  <p>Cargando información</p>
}
