<div (click)="handleClick()"  class="flex flex-col gap-2 p-2 rounded-[10px] shadow-lg h-28" [ngClass]="bgColor()">
  <div class="flex flex-row justify-end">
    <p class="text-[9px] text-gray-200">#{{order()}}</p>
  </div>
  <div class="flex flex-row gap-1 items-stretch justify-between h-full">
  <div>
    <h2 class="text-[11px] font-extrabold text-white">{{pokemon().name | titlecase}}</h2>
    <div class="flex flex-row flex-wrap gap-1 mt-1">
      @for (type of pokemon().types; track type.slot) {
        <span [ngClass]="bgType()" class="text-[8px] text-white font-semibold px-2 rounded-lg">{{type.type.name | titlecase }}</span>
      }
    </div>
  </div>
  <div class="self-end">
    @defer (when pokemon().sprites) {
      <img loading="lazy" class="w-20" [srcset]="pokemon().sprites.other?.['official-artwork']?.front_default" alt="">
    }@placeholder {
      <div class="h-14 w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse"></div>
    }
  </div>
</div>
</div>

